{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie{% endblock %}

{% block body %}
    <div class="grix xs2 sm3">
        <div class="form-field pos-xs2">
            <h1>Ajouter une catégorie</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
